.teacherDisponibility-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.teacherDisponibility-conteiner h5 {
    font-size: 25px;
    font-weight: 500;
    max-width: 80%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

.teacherDisponibility-day-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.teacherDisponibility-day-button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    font-weight: 400;
    
    background-color: rgb(0, 104, 55);
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.teacherDisponibility-day-button:hover {
    background: #479b05;
}

.teacherDisponibility-day-button.clicked {
    background: #479b05;
}

.teacherDisponibility-day-time-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.time-selector {
    display: flex;
    list-style: none;
    gap: 25px;
}

.time-selector li {
    display: flex;
    flex-direction: column;
}

.teacherDisponibility-continue-button {
    font-size: 20px;
    color: white;
    border-radius: 22px;
    font-weight: 700;
    border: none;
    background-color: rgb(0, 104, 55);
    width: 360px;
    height: 70px;
    cursor: pointer;
}