.myClasses-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    margin: 1rem auto;
    border-radius: 0.2rem;
    max-width: 80rem;

}

.myClasses-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    border-radius: 0.2rem;
    background-color: rgba(83, 83, 83, 0.4);
    color: #FCFCFC;

    margin: 1.5rem 1rem;
    padding: 0.5rem 1rem;


    width: 75rem;
    max-width: 90%;
}

.myClasses-card_date {
    font-size: 1.5rem;
    font-weight: 500;
}

.myClasses-card_info {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myClasses-card_student {
    font-size: 0.9rem;
}

.myClasses-card_time {
    font-size: 1.85rem;
    font-weight: 600;
}