.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
}

.next-class-container{
    width : 80%;
    height : 70px;
    background-color: rgb(179, 179, 179);
}

.info-container{
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    margin: 15px;
    padding: 5px;
    width: 350px;
    height: 50px;
    justify-content: center;
}

.info-button-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 50px;
}

.info-button-classes-container{
    display: flex;
    flex-direction:row;
}

.info-button{
    width:200px;
    height:20px;
    padding: 2px;
}

.info-button-perfil{
    width:400px;
    height:20px;
    padding: 2px;
}

.buy-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100%
}

.buy-card-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
}

.buy-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border: solid black 1px;
    margin: 10px;
    width:20%;
   
}


