.dayName {

}

.form__ProgramarClases {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #FCFCFC;
    padding: 20px;
    width: 1024px;
    gap: 40px;
    margin: 0 auto;
    list-style: none;
    font-size: 20px;
}

.form__ProgramarClases li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 250px;
    
}   

.form__ProgramarClases li:hover {
    background-color: #006633;
    color: #FCFCFC;
    border-radius: 15px;
    cursor: pointer;
}

.time_input {
    display: none;
}

.time_input-active {
    display: block;

}