.question_Content {
    text-align: center;
}

.question__Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__Title h2 {
    width: 320px;
    height: auto;
    background-color: #266f56;
    border-radius: 20px 20px 20px 20px;
    color: #FCFCFC;
    padding: 15px;
    text-align: center;
    margin-top: 150px;
}

.question_Body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
    flex-direction: wrap;
}

.question__1 {
    width: 300px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(70, 172, 30);
    color: #FCFCFC;
    text-align: center;
}

.question__body {
    margin: 20px;
}

.question__body span {
    margin: 10px;
}

.question__2 {
    width: 300px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(70, 172, 30);
    color: #FCFCFC;
    text-align: center;
}

.question__3 {
    width: 300px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(70, 172, 30);
    color: #FCFCFC;
    text-align: center;
}

.question_Content .swiper {
    width: 100%;
    max-width: 1077px;
}

.question_Content .swiper-button-next {
    color: #266f56
}

.question_Content .swiper-button-prev {
    color: #266f56
}

.swiper-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .question_Body {
        flex-direction: column;
    }
}