
// Admin Buttons -------------

.panelButtonContainer {

    display: flex;
    justify-content: center;
    padding: 1rem;

    border: solid 0.1rem black;
    border-radius: 0.25rem;

    .panelButton {
        border: none;
        border-radius: 0.2rem;
        background-color: #006633;
        font-weight: 500;
        font-size: 1rem;
        max-width: 100%;
        height: 2.2rem;
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
        color: #FCFCFC;
        transition: background-color 0.5s, color 0.5s;
    }
    
    .panelButton:hover {
        background-color: #479B05;
        color: black;
    }

    .panelButton.active {
        background-color: #479B05;
        color: black;
    }

}

// User Cards ---------------

.userCardProfile-container {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 0.5rem auto;
    border-radius: 0.20rem;

    .userCardProfile-header_container {
        border: 1px solid rgba(0, 128, 0, 0.027);
        border-radius: 0.35rem;
        background-color: rgba(83, 83, 83, 0.4);
        margin: 1rem;

        .userCardProfile-header {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            margin: 0.75rem;

            .userCardProfile-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.5rem;
                height: 3.5rem;
                background-color: #006633;
                border-radius: 55px;
                margin-left: 1rem;
            }

            .userCardProfile-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #FCFCFC;

                p {
                    font-weight: bold; 
                    font-size: larger;
                }

                span {
                    font-weight: 400; 
                    font-size: medium;
                }
            }

            .userCardProfile-button {
                border: none;
                border-radius: 0.45rem;
                background-color: #006633;
                font-weight: 500;
                font-size: 1rem;
                width: 20rem;
                height: 2.2rem;
                cursor: pointer;
                color: #FCFCFC;
                transition: background-color 0.5s, color 0.5s;
            }
            
            .userCardProfile-button:hover {
                background-color: rgb(71, 155, 5);
                color: black;
            }

            .userCardProfile-button.active {
                background-color: #479B05;
                color: black;
            }
        }
    }
}

// More Info ---------------------------

.moreInfo-container {
    display: flex;
    gap: 0.2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: 1rem;
    background-color: #FCFCFC;

    ul {
        padding: 0.5rem;
        list-style: none;
    }

}

// Teachers Listed --------------------

.teacherListed-container {
    display: flex;
    flex-wrap: wrap;

    .userCardProfile-container {
        max-width: 50%;
    }
}
