.calification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
    }

    button {
        border: none;
        border-radius: 0.2rem;
        background-color: #006633;
        font-weight: 500;
        font-size: 0.8rem;
        width: 5rem;
        height: 1.5rem;
        cursor: pointer;
        color: #FCFCFC;
        transition: background-color 0.5s, color 0.5s;
        
        &:hover {
            background-color: #479B05;
            color: black;
        }
    }

}