.dropdown-menu {
    width: 180px;
    position: absolute;
    z-index: 10;
    text-align: start;
    list-style: none;
    transition: all 0.5s ease-in;
}
  
.dropdown-menu li {
    background: #006633;
    cursor: pointer;
}
  
.dropdown-menu li:hover {
    background: #479b05;
}
  
.dropdown-menu.clicked {
    display: none;
}
  
.dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    transition: all 0.25s;
}

.dropdown-link:hover {
    color: black;
}
  
@media screen and (max-width: 960px) {

    .fa-caret-down {
        display: none;
    }

}