.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-buttons {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-buttons button {
    border: none;
    font-size: 40px;
    background-color: transparent;
    color: #479B05;
}

.carousel-container button:hover {
    cursor: pointer;
}

.carousel-container img {
    height: auto;
    width: 100%;
    border-radius: 30px 30px 30px 30px; 
    transition: 1s; 
}

.loaded {
    opacity: 1;
}

.not-loaded {
    opacity: 0;
}
