.carousel-container {
    display: flex;
    align-items: center;
}

.carousel-container button {
    position: absolute;
    border: none;
    font-size: 40px;
    background-color: transparent;
    color: #479B05;
}

.boton-der {
    left: 25px;
}

.boton-izq {
    left: 480px;
}

.carousel-container button:hover {
    cursor: pointer;
}

.carousel-container img {
    height: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 30px 30px 30px 30px;
    transition: 1s;
}

.loaded {
    opacity: 1;
}

.not-loaded {
    opacity: 0;
}
