    .footer_Content {
        margin-top: auto;
    }
    
    .footer__Container {
        background-color: rgb(0, 104, 55);
        width: 100%;
        height: 100px;
        position: relative;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .logoFooter {
        cursor: pointer;
        filter: brightness(0) invert(1);
    }
    
    .redes__Footer img {
        /*
        width: 70px;
        height: 40px;
        */
        cursor: pointer;
    }   

    @media screen and (max-width: 960px) {
        .logoFooter {
            display: none;
        }
    }